<div class="row">
	<div class="col-md-5 .d-sm-none .d-md-block background"></div>
	<div class="col-md-7 col-sm-12 form">
		<h3> S'inscrire </h3>
		<p class="link">Déjà inscrit ? <a class="" routerLink="/login">Log in</a></p>
		<form (ngSubmit)="createUser(userForm.value)" #userForm="ngForm">
			<div>
				<input placeholder="Pseudo" name="username" ngModel required minlength="1" #username="ngModel">
				<div class="error" *ngIf="username.dirty && username.hasError('minlength')">Username is 3</div>
			</div>
			<div>
				<input name="email" placeholder="email" ngModel required minlength="5" #useremail="ngModel">
				<div class="error" *ngIf="useremail.dirty && useremail.hasError('minlength')">Le mail doit avoir une longueur d'au moins 3 caractères</div>
			</div>
			<div>
				<input type="password" placeholder="password" name="password" ngModel required #password="ngModel">
				<div class="error" *ngIf="password.dirty && password.hasError('required')">Password is required</div>
			</div>
			<button type="submit" [disabled]="userForm.invalid"><span>🔒</span> Register</button>
		</form>
	</div>
</div>